.button-like {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px;

  &__input {
    display: none;
  }

  &__icon.liked {
    display: none;
  }

  &__input:checked ~ &__icon:not(.liked) {
    display: none;
  }

  &__input:checked ~ &__icon.liked {
    display: block;
  }

  &__input:checked ~ &__icon {
    background: linear-gradient(180deg, #e471db, #a561dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
