.header {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60px;
  }

  &__logo-text {
    font-size: 26px;
    font-weight: 700;
    color: #333;
  }

  &__back-btn {
    position: absolute;
    left: 20px;
    font-size: 22px;
    color: #333;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__wrapper {
      height: 96px;
    }

    &__logo-text {
      font-size: 40px;
    }

    &__back-btn {
      font-size: 28px;
    }
  }
}
